.header {
    &__nav {
        border-bottom: 1px solid #BDC5CD;
        &__list {
            display: flex;
            gap: 1rem;
            justify-content: space-between;
            padding-left: 1rem;
            padding-right: 1rem;
            padding-top: 2.5rem;
        }
    }
}